@model rpgsite3.Models.CharacterModel

<div class="user-background">
    <div class="character">
        <!-- TODO : popup toevoegen als er op gehovert wordt. -->
        <div class="left-items">
            @foreach (var item in Model.character.inventory.Take(5))
            {
                @:<div class="square">
                    <img src="~/images/items/@item.img_loc" class="itemImage" />
                @:</div>
            }
        </div>
        <div class="character-img">
            <img src="~/images/characters/characters_1.png" class="myCharacter" />
            <h1 class="character_name"> @Model.character.naam </h1>
        </div>
        <div class="right-items">
            @foreach (var item in Model.character.inventory.TakeLast(5))
            {
                @:<div class="square">
                    <img src="~/images/items/@item.img_loc" class="itemImage" />
                @:</div>
            }
        </div>
    </div>
</div>

