<div class="user-background">
    <div class="character">
        <!-- TODO : popup toevoegen als er op gehovert wordt. -->
        <div class="left-items">
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
        </div>
        <div class="character-img">
            <img src="~/images/characters/characters_1.png" class="myCharacter"/>
            <h1 class="character_name"> Character naam </h1>
        </div>
        <div class="right-items">
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
            <div class="square">
                <img src="~/images/f2p.png" class="itemImage" />
            </div>
        </div>
    </div>
</div>


