@model rpgsite3.Models.ValidationModels.RegisterModel

<div class="modal fade" id="register-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content loginmodal-container">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Account" asp-action="Register" data-ajax="true" data-ajax-method="POST" data-ajax-begin="OnStartAjax" data-ajax-failure="OnRegisterFailed" data-ajax-success="OnRegisterSuccess">
                    <div class="errormessage">Er ging iets mis.</div>
                    <input type="text" name="username" asp-for="username" placeholder="Username">
                    <span asp-validation-for="username"></span>
                    <input type="password" id="passwordinput" name="password" asp-for="password" placeholder="Password">
                    <span asp-validation-for="password"></span>
                    <input type="submit" class="login loginmodal-submit" value="Login">
                </form>
            </div>
            <div class="modal-footer">
                <div class="login-help">
                    <a href="#login-modal" data-dismiss="modal" data-toggle="modal">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>