<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - rpgsite3</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/fontawesome-all.min.css" />
    <!-- Ajax Call Script moet bovenin. Anders kan unobtrusive ajax de methods niet vinden. Dont shoot the messenger ¯\_(ツ)_/¯ -->
</head>
<body class="@ViewData["bodyclass"]">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">2Dee ArrPeeGee</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">News</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">About</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Character" asp-action="Index">Character</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a class="nav-link" asp-area="" asp-controller="Game" asp-action="Game">Game</a></li>
                        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                        if (claimsIdentity != null)
                        {
                            var c = claimsIdentity.FindFirst("Admin");
                            if (c != null)
                            {
                                //Controleren of gebruiker een admin is, indien true, dashboard link weergeven.
                                if (Convert.ToBoolean(c.Value))
                                {
                                    <li><a class="nav-link" asp-area="" asp-controller="News" asp-action="Dashboard">Dashboard</a></li>
                                }
                            }
                        }
                        <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnLogOutSuccess">Logout</a></li>
                    }
                    else
                    {
                        <li><a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid nopadding">
        @RenderBody()
        <footer class="footer">
            <div class="row animate slide-up">
                <!-- left -->
                <div class="col-md-4 footer-left">
                    <img src="~/images/logocompany.png" width="100" height="50">
                    <p class="footer-links">
                        <a asp-action="index" asp-controller="home">Home</a>
                        <a asp-action="Index" asp-controller="News">News</a>
                        <a asp-action="Index" asp-controller="Game">About</a>
                        <a asp-action="Game" asp-controller="home">Game</a>
                        <a asp-action="Index" asp-controller="Character">Character</a>
                    </p>
                    <p class="footer-company-name">Generic Company &copy; 2018</p>
                </div>
                <!-- center -->
                <div class="col-md-4 footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Narnia Laan</span> Narnia, Wonderland</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+12 1234 5678</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:contact@grindinggear.com">contact@totallylegitcompany.com</a></p>
                    </div>
                </div>
                <!-- right -->
                <div class="col-md-4 footer-right">
                    <p class="footer-about">
                        <span>About Generic Company</span>
                        Generic Company was founded in 2018 with one goal in mind, to be the most generic company out there. We strive for mediocrity in our work and hope you can see this too.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        @await Component.InvokeAsync("LoginForm")
        @await Component.InvokeAsync("RegisterForm")

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive-master/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/ajaxcalls.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
